<form [formGroup]="contactForm"
      (ngSubmit)="submitForm()"
      class="flex flex-col gap-3 sm:gap-6 max-w-2xl relative mx-3 md:mx-auto">
  <bg-point-gradient
    [type]="PointColorGradient.SECONDARY"
    class="absolute opacity-5 -top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/4 w-full scale-x-150"/>
  <div class="flex gap-3 sm:flex-row flex-col items-center">
    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text" i18n="@@contactNameLabel">Name</span>
      </div>
      <input appFadeIn
             type="text"
             formControlName="name"
             placeholder="Max Mustermann"
             class="input input-bordered w-full !rounded-lg"
             i18n-placeholder="@@contactNamePlaceholder"
      />
    </label>
    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text" i18n="@@contactMailLabel">Email</span>
      </div>
      <input appFadeIn
             type="text"
             formControlName="mail"
             placeholder="z.B. max@mustermann.com"
             class="input input-bordered w-full !rounded-lg"
             i18n-placeholder="@@contactMailPlaceholder"
      />
    </label>
  </div>
  <label class="form-control max-w-md sm:max-w-full w-full mx-auto">
    <div class="label block sm:hidden">
      <span class="label-text" i18n="@@contactTextareaLabel">Nachricht</span>
    </div>
    <textarea appFadeIn
              formControlName="message"
              class="textarea textarea-lg textarea-bordered w-full resize-none h-40 !rounded-lg"
              placeholder="Ich möchte dich kontaktieren..."
              i18n-placeholder="@@contactTextareaPlaceholder">
  </textarea>
  </label>
  <button appFadeIn
          type="submit"
          class="btn btn-secondary btn-outline btn-wide self-center hover:!bg-my-accent hover:!text-base-content !rounded-lg mt-3 sm:mt-0"
          [ngClass]="{'btn-disabled': !isValid()}"
          i18n="@@contactSubmit">
    Senden
  </button>
</form>
