:host {
  display: block;
}

.carousel-container {
  width: 100%;
  height: 30rem;
}

input[type="radio"] {
  display: none;
}

.carousel-cards {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
}

.carousel-card {
  max-width: max-content;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  &::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background-color: var(--fallback-b1, oklch(var(--b1) / 1));
    opacity: 0.3;
    filter: blur(10px);
    transition: opacity 0.5s ease;
    z-index: 1;
  }

  transform: scale(0.8);
}

.carousel-card.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;

  &::before {
    opacity: 0;
  }
}

.carousel-card.next {
  transform: translateX(65%) scale(0.8);
  z-index: 1;
}

.carousel-card.prev {
  transform: translateX(-65%) scale(0.8);
  z-index: 1;
}

.carousel-card.next-next,
.carousel-card.prev-prev {
  transform: translateX(100%) scale(0.6);
  z-index: 0;

  &::before {
    opacity: 0.6;
  }
}

.carousel-card.prev-prev {
  transform: translateX(-100%) scale(0.6);
}

.carousel-navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-button {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

input[type="radio"]:checked + .nav-button {
  background-color: #333;
}
