<div class="carousel-container">
  <ng-container *ngFor="let _ of getItems(); let i = index">
    <input type="radio" name="carousel" [id]="'item-' + (i)" [checked]="isSelected(i)" (change)="onRadioChange(i)">
  </ng-container>

  <div class="carousel-cards">
    <ng-container *ngFor="let item of getItems(); let i = index">
      <label class="carousel-card" [for]="'item-' + (i)" [ngClass]="getCardClasses(i)">
        <project-card appFadeIn
                      [delay]="(i * 0.1)+ 's'"
                      [reFade]="false"
                      [preActivate]="isActive(i)"
                      [card]="item" #cards
        />
      </label>
    </ng-container>
  </div>
</div>
