<div *ngIf="!isLoaded(); else cardContent" class="skeleton card bg-base-100 image-full w-72 md:w-96 shadow-2xl overflow-hidden">
  <div class="skeleton h-48 w-full"></div>
  <div class="card-body">
    <div class="skeleton h-10 w-3/4 mb-20 m-auto"></div>
  </div>
</div>

<ng-template #cardContent>
  <div mouseLightEffect class="card bg-base-100 image-full w-72 md:w-96 shadow-2xl overflow-hidden md:min-h-[30rem] min-h-[25rem]"
       [ngClass]="{'active': this.active}">
    <figure [ngClass]="{'active': this.active}" class="relative">
      <bg-point-gradient
        [type]="PointColorGradient.ACCENT"
        class="absolute opacity-40 h-full right-0 -translate-y-1/2 translate-x-1/2 top-0"/>
      <div class="absolute right-0 top-0 w-full h-full card-overlay" [ngClass]="{'active': active}"></div>
      <img src="{{ infos()?.imgUrl }}" alt="card"/>
      <h1 class="absolute uppercase bg-text">
        {{ infos()?.title }}
      </h1>
    </figure>
    <div class="card-body" [ngClass]="{'active': this.active}">
      <h2 class="card-title justify-center drop-shadow-2x text-center !text-3xl md:!text-4xl" style="margin: 0;">
        {{ infos()?.title }}
      </h2>
      <div class="card-actions justify-center">
        <ng-container *ngFor="let language of getLanguages()">
          <div class="text-2xl text-glow">
            <ng-icon [name]="language"></ng-icon>
          </div>
        </ng-container>
      </div>
      <p class="text-center jetbrains-mono transition-all !text-sm md:!text-base" style="color: oklch(var(--bc))" [ngClass]="{'h-6': !active}">
        {{ infos()?.description }}
      </p>
      <div class="card-actions justify-center">
        <button
          class="btn btn-outline !rounded-md"
          (click)="navigateToProject()"
          i18n="@@cardViewProjectButton">
          Projekt anzeigen
        </button>
      </div>
    </div>
  </div>
</ng-template>
