$primary-color: oklch(var(--p));
$transition-duration: 0.3s;

.custom-link {
  position: relative;
  background-color: transparent !important;
  text-decoration: none;
  transition: transform $transition-duration ease-in-out;

  &:hover, &.active {
    transform: scale(1.1);
  }

  &.active {
    color: $primary-color;
  }
}

.underline {
  position: absolute;
  height: 2px;
  bottom: 5px;
  width: 0;
  transform: translateX(-50%);
  background-color: oklch(var(--bc));
  transition: width $transition-duration ease-in-out, left $transition-duration ease-in-out;
}
