.shape-fill {
  fill: oklch(var(--b1)) !important;
}

.wave {
  position: relative;
  top: -1px;
  left: 0;
  overflow: hidden;
  &.wave-bottom {
    top: 1px;
  }
}
.wave svg {
  position: relative;
  left: 0;
  display: block;
  width: calc(100% + 2px);
}
