$primary-color: oklch(var(--p));
$transition-duration: 0.3s;

.custom-link {
  position: relative;
  background-color: transparent !important;
  text-decoration: none;
  transition: transform $transition-duration ease-in-out;

  &:hover, &.active {
    transform: scale(1.1);
  }

  &.active {
    color: $primary-color;
  }
}

.header-bg {
  @apply backdrop-blur-sm bg-base-300 bg-opacity-70 drop-shadow-2xl;
}

.underline {
  position: absolute;
  height: 2px;
  bottom: 5px;
  width: 0;
  transform: translateX(-50%);
  background-color: oklch(var(--bc));
  transition: width $transition-duration ease-in-out, left $transition-duration ease-in-out;
}

.font-size {
  transform: scale(1.1);
}

.off {
  opacity: 1 !important;
}
