<header
  class="fixed z-50 w-full transition-all duration-500"
>
  <div [parallax]="opacityParallax"
       [active]="headerConfig.background === HeaderBackground.BLEND_IN_ON_SCROLL"
       [ngClass]="{'off': headerConfig.background === HeaderBackground.SHOW}"
       class="header-bg"
       style="width: 100vw; height: 100%; top: 0; left: 0; z-index: -1;"
  >
  </div>
  <div class="container m-auto navbar">
    <div class="navbar-start">
      <button class="icon-medium my-clickable">
        N
      </button>
    </div>
    <div *ngIf="headerConfig.showMenu" class="navbar-center flex-col relative" #navbarCenter>
      <div class="flex">
        <a href="#"
           i18n
           class="btn btn-ghost custom-link transition-all"
           [ngClass]="{'font-size': this.screenTop < 20}"
           #customLink>
          Über mich
        </a>
        <a href="#"
           i18n
           [ngClass]="{'font-size': this.screenTop < 20}"
           class="btn btn-ghost
           custom-link"
           #customLink>
          Erfahrung
        </a>
        <a href="#"
           i18n
           [ngClass]="{'font-size': this.screenTop < 20}"
           class="btn btn-ghost
           custom-link"
           #customLink>
          Projekte
        </a>
        <a href="#"
           i18n
           [ngClass]="{'font-size': this.screenTop < 20}"
           class="btn btn-ghost
           custom-link"
           #customLink>
          Kontakt
        </a>
      </div>
      <div class="underline" #underline></div>
    </div>
    <div class="navbar-end">
      <div tabindex="0">
        <btn-swap
          class="icon-medium my-clickable"
          [icons]="this.getThemeSwitchIcons()"
          #themeSwitch
        />
      </div>
    </div>
  </div>
</header>
