<header
  class="fixed z-50 w-full transition-all duration-500"
>
  <div [parallax]="opacityParallax"
       [active]="headerConfig.background === HeaderBackground.BLEND_IN_ON_SCROLL"
       [ngClass]="{'off': headerConfig.background === HeaderBackground.SHOW}"
       class="header-bg"
       style="width: 100vw; height: 100%; top: 0; left: 0; z-index: -1;"
  >
  </div>
  <div class="container m-auto navbar">
    <div class="navbar-start">
      <a href="/" class="icon-medium my-clickable logo h-12 w-12">
        <span class="hidden">Nicolas Fritz Portfolio</span>
      </a>
    </div>
    <div *ngIf="headerConfig.showMenu" class="navbar-center flex-col relative" #navbarCenter>
      <div class="flex">
        <a *ngFor="let item of menu; let i = index"
           class="btn btn-ghost custom-link transition-all"
           [id]="i"
           [ngClass]="{'font-size': this.screenTop < 20, '!gradient-text': isActive(i)}"
           (mouseenter)="showUnderline($event.target, i)"
           (mouseleave)="hideUnderline($event.target, i)"
           (click)="scrollToElement(item, $event.target, i)"
           #menuElement
        >{{ item.title }}</a>
      </div>
      <div class="underline" #underline></div>
    </div>
    <div class="navbar-end">
      <div tabindex="0">
        <btn-swap
          class="icon-medium my-clickable"
          [icons]="this.getThemeSwitchIcons()"
          #themeSwitch
        />
      </div>
    </div>
  </div>
</header>
