<div class="carousel-container">
  <input type="radio" name="carousel" id="item-1" checked>
  <input type="radio" name="carousel" id="item-2">
  <input type="radio" name="carousel" id="item-3">

  <div class="carousel-cards">
    <label class="carousel-card" for="item-1">
      <project-card></project-card>
    </label>
    <label class="carousel-card" for="item-2">
      <project-card></project-card>
    </label>
    <label class="carousel-card" for="item-3">
      <project-card></project-card>
    </label>
  </div>

  <div class="carousel-navigation">
    <label for="item-1" class="nav-button"></label>
    <label for="item-2" class="nav-button"></label>
    <label for="item-3" class="nav-button"></label>
  </div>
</div>
