<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      PreisCxn
    </h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <ng-container *ngFor="let language of getLangauges()">
        <div class="text-2xl">
          <ng-icon [svg]="language"></ng-icon>
        </div>
      </ng-container>
    </div>
  </div>
</div>
