<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a
      class="link link-hover"
      i18n
    >
      Startseite
    </a>
    <a
      class="link link-hover"
      i18n
    >
      Projekte
    </a>
    <a
      class="link link-hover"
      i18n
    >
      Kontakt
    </a>
    <a
      class="link link-hover"
      i18n
    >
      Impressum
    </a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4 text-3xl">
      <ng-icon class="my-clickable" name="bootstrapDiscord"/>
      <ng-icon class="my-clickable" name="bootstrapGithub"/>
      <ng-icon class="my-clickable" name="bootstrapTwitterX"/>
      <ng-icon class="my-clickable" name="bootstrapLinkedin"/>
    </div>
  </nav>
  <aside>
    <p i18n>
      Copyright © {{ currentYear }} - Alle Rechte vorbehalten.
    </p>
  </aside>
</footer>
