<div class="relative h-lvh">
  <h1 class="test-heading">
    BUILDING FUTURE
  </h1>
  <img src="assets/render.png" alt="hero" class="test-img">
</div>

<main class="container min-h-dvh m-auto">

  <div class="flex w-full justify-center">
    <h2 class="jetbrains-mono">Hi, I`m Nicolas.</h2>
  </div>

  <div class="flex w-full justify-center">
    <h3 class="jetbrains-mono">Im glad to worked with...</h3>
  </div>

  <div class="flex w-full justify-center flex-col">
    <h2 class="text-center jetbrains-mono">My recent work...</h2>
    <card-carousel style="width: 100%; height: 100%"></card-carousel>
  </div>

  <div class="flex w-full justify-center">
    <h2 class="jetbrains-mono">Contact me!</h2>
  </div>
</main>
