<div class="gradient relative h-lvh">
  <app-keyboard class="absolute left-1/2 transform -translate-x-1/2 bottom-2"></app-keyboard>
</div>

<main class="container min-h-dvh m-auto">

  <div class="flex w-full justify-center">
    <h2 class="jetbrains-mono">Hi, I`m Nicolas.</h2>
  </div>

  <div class="flex w-full justify-center">
    <h3 class="jetbrains-mono">Im glad to worked with...</h3>
  </div>

  <div class="flex w-full justify-center flex-col">
    <h2 class="text-center jetbrains-mono">My recent work...</h2>
    <card-carousel style="width: 100%; height: 100%" [cards]="this.projectCards"></card-carousel>
  </div>

  <div class="flex w-full items-center flex-col">
    <h2 class="text-center jetbrains-mono">Contact me!</h2>
    <home-contact class="w-full"/>
  </div>
</main>
