<div class="relative h-lvh" id="home" #menuSection>
  <!-- icons -->
  <app-emoji-blob
    class="absolute text-7xl z-20 anim-icon
    right-5 bottom-24
    md:right-12 md:top-96 md:bottom-auto
    xl:bottom-auto xl:right-28 xl:top-96
"
    [background]="{
      type: EmojiBackgroundType.BLOB3,
      color: EffectColor.MY_SECONDARY,
      glow: EffectColor.ACCENT
    }"
    [dropShadow]="true"
    bgSize="2"
    name="diAngularOriginal"
  />
  <app-emoji-blob
    class="absolute text-7xl z-20 anim-icon
    left-0 bottom-64
    sm:left-5
    md:left-12 md:bottom-72
    xl:left-48 xl:bottom-80"
    style="animation-delay: -2s"
    [background]="{
      type: EmojiBackgroundType.BLOB1,
      color: EffectColor.MY_SECONDARY,
      glow: EffectColor.ACCENT
    }"
    [dropShadow]="true"
    bgSize="2"
    name="diJavaOriginal"
  />
  <app-emoji-blob
    class="absolute right-80 top-36 text-6xl z-20 anim-icon"
    style="animation-delay: -3s"
    [background]="{
      type: EmojiBackgroundType.BLOB1,
      color: EffectColor.MY_SECONDARY,
      glow: EffectColor.ACCENT
    }"
    [dropShadow]="true"
    bgSize="2.5"
    name="diTypescriptOriginal"
  />

  <bg-point-gradient [type]="PointImageGradient.LINES" class="opacity-30"/>
  <!-- heading -->
  <h1 class="absolute left-1/2 -translate-x-1/2 top-32 text-center w-[80%] z-30">
    <span i18n="@@homeHeadingBuilding">Building</span>
    <app-rainbow-text [text]="futureTranslated"/>
    <span i18n="@@homeHeadingPoints">...</span>
  </h1>


  <!-- monitor -->
  <div class="test-img-container">
    <img class="test-img drop-shadow-lg" ngSrc="assets/render.webp" alt="" height="2160" width="3840" priority/>
    <div class="relative jetbrains-mono pointer-events-none select-none
    top-52 text-sm w-72
    left-1/2 md:top-64 -translate-x-1/2 md:text-base md:w-96">
    <pre><code [innerHTML]="hightlightedCode">
    </code></pre>
    </div>
  </div>


  <app-keyboard class="absolute left-1/2 -translate-x-1/2 -bottom-3 hidden md:block"
                (mouseenter)="playEnter()" (mouseleave)="playLeave()"
                (click)="this.scrollToHi()"
  />

  <div class="absolute h-auto pointer-events-none" style="width: 80rem; height: 80rem; left: -35rem; top: -50rem">
    <bg-point-gradient [type]="PointImageGradient.POLYGON" class=""/>
  </div>

  <div
    *ngIf="!isMobile()"
    class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 mix-blend-overlay pointer-events-none opacity-80"
    style="width: 80rem; height: 80rem">
    <bg-point-gradient [type]="EffectColor.SECONDARY" class=""/>
  </div>

  <!-- press me btn -->
  <div
    class="absolute left-1/2 z-30 -translate-x-1/2 md:top-[35.5rem] -bottom-2 md:bottom-auto flex flex-col items-center md:gap-0 gap-24">
    <h4 class="relative z-10 jetbrains-mono hidden md:block">
      <span i18n="@@homePressMe">
        klick mich
      </span>
    </h4>
    <div class="relative z-10 block md:hidden" (mouseenter)="playEnter()" (mouseleave)="playLeave()">
      <button class="btn btn-gradient !text-2xl whitespace-nowrap"
              (click)="this.scrollToHi()"
              i18n="@@homePressMe">
        klick mich
      </button>
    </div>
    <ng-lottie containerClass="test" class="relative z-0 w-28 h-28 pointer-events-none bottom-12"
               [options]="options"
               (animationCreated)="animationCreated($event)">
    </ng-lottie>
  </div>

  <div class="absolute left-1/2 -translate-y-1/2 -translate-x-1/2 -z-20 opacity-15 pointer-events-none"
       style="width: 70rem; height: 70rem; top: 25rem">
    <bg-point-gradient [type]="EffectColor.SECONDARY" class=""/>
  </div>

  <app-hero-blobs/>

</div>

<main #hi>
  <app-section
    [withGradient]="true"
    [withWave]="SectionWave.BOTH"
    [withBgImage]="PointImageGradient.POLYGON"
  >
    <div class="container m-auto mb-24" id="about" #menuSection>
      <div class="flex w-full flex-col items-center">
        <h1 appFadeIn class="drop-shadow-lg text-center flex flex-col md:flex-row gap-3 items-center">
          <home-wave-hand class="text-7xl"/>
          <span>{{ helloTitle }}</span>
        </h1>
        <p *ngFor="let description of descriptions" appFadeIn class="max-w-3xl text-2xl text-center pl-3 pr-3 md:p-0">
          {{ description.text }}
        </p>
      </div>
    </div>
    <div class="container m-auto">
      <div class="flex flex-col w-full gap-6 justify-center items-center">
        <h2 appFadeIn class="drop-shadow-lg text-center">{{ workedAtTitle }}</h2>
        <div class="flex flex-row gap-8 md:gap-32 h-20 md:h-36">
          <img appFadeIn *ngFor="let picture of workedAtPictures; let i = index"
               class="h-full drop-shadow-lg"
               [delay]="(i * 0.3) + 's'"
               [src]="getDirectusFileUrl(picture.directus_files_id)" alt="Company Picture">
        </div>
      </div>
    </div>
  </app-section>

  <app-section class="relative"
               [withBgImage]="PointImageGradient.LINES">
    <div class="flex w-full items-center flex-col gap-6" id="projects" #menuSection>
      <h1 appFadeIn
          class="drop-shadow-lg text-center"
          i18n="@@projectSectionHeading">
        Meine Projekte
      </h1>
      <card-carousel style="width: 100%; height: 100%" [cards]="this.projectCards"/>
    </div>
    <bg-point-gradient
      [type]="PointColorGradient.ACCENT"
      class="absolute opacity-10 top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/4 h-full scale-x-150"/>
  </app-section>

  <app-section
    class="relative"
    [withBgImage]="PointImageGradient.POLYGON">
    <div class="container m-auto flex items-center flex-col" id="contact" #menuSection>
      <h1 appFadeIn i18n="@@contactSectionHeading" class="text-center">Lust auf mehr?</h1>
      <p appFadeIn class="max-w-3xl text-2xl text-center" i18n="@@contactSectionDescription">
        Hab ich dein Interesse geweckt? Dann schreib mir einfach – ich freue mich, von dir zu hören!
      </p>
      <div class="flex items-center justify-center gap-12 w-full">
        <app-emoji-blob appFadeIn delay="0.3s" [mirrorIcon]="true" class="text-9xl drop-shadow-2xl hidden lg:block"/>
        <home-contact class="pt-10 w-full max-w-3xl"/>
      </div>

    </div>
    <div appFadeIn delay="0.1s" class="absolute w-full bottom-0 h-96 -z-20 bg-base-200">
      <div class="custom-shape-divider-top-1729255725">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
    </div>
  </app-section>

</main>
