<div class="relative h-lvh">
  <img class="test-img" ngSrc="assets/render.png" height="1080" width="1920"/>
</div>
<main>
  <app-section
    [withGradient]="true"
    [withWave]="SectionWave.BOTH"
    [withBgImage]="PointImageGradient.POLYGON"
  >
    <div class="container m-auto mb-24">
      <div class="flex w-full flex-col items-center">
        <h1 appFadeIn class="drop-shadow-lg">
          <home-wave-hand class="text-7xl"/>
          {{ helloTitle }}
        </h1>
        <p *ngFor="let description of descriptions" appFadeIn class="max-w-3xl text-2xl text-center">
          {{ description.text }}
        </p>
      </div>
    </div>
    <div class="container m-auto">
      <div class="flex flex-col w-full gap-6 justify-center items-center">
        <h2 appFadeIn class="drop-shadow-lg">{{ workedAtTitle }}</h2>
        <div class="flex flex-row gap-32 h-36">
          <img appFadeIn *ngFor="let picture of workedAtPictures; let i = index"
               class="h-full drop-shadow-lg"
               [delay]="(i * 0.3) + 's'"
               [src]="getDirectusFileUrl(picture.directus_files_id)">
        </div>
      </div>
    </div>
  </app-section>

  <app-section class="relative"
               [withBgImage]="PointImageGradient.POLYGON">
    <div class="flex w-full items-center flex-col gap-6">
      <h1 appFadeIn class="drop-shadow-lg">Meine Projekte</h1>
      <card-carousel style="width: 100%; height: 100%" [cards]="this.projectCards"/>
    </div>
    <bg-point-gradient
      [type]="PointColorGradient.ACCENT"
      class="absolute opacity-10 top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/4 h-full scale-x-150"/>
  </app-section>

  <app-section>
    <div class="flex w-full items-center flex-col">
      <h1 appFadeIn>Contact me!</h1>
      <home-contact class="w-full"/>
    </div>
  </app-section>

</main>
