.test-img {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}

.test-heading {
  position: relative;
  text-align: center;
  top: 7rem;
}

.test {
  display: inline-block;
  height: 100%;
}
