.test-img-container {
  position: absolute;
  top: 1rem;
  @apply w-[75rem] top-[7rem] md:w-[95rem] md:top-[1rem];
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.test-img {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.test-heading {
  position: relative;
  text-align: center;
  top: 7rem;
}

.test {
  display: inline-block;
  height: 100%;
}

.custom-shape-divider-top-1729255725 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1729255725 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1729255725 .shape-fill {
  fill: oklch(var(--b1));
}

.contact-bg {
  background: transparent;
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow:
      0 0 10px 3px var(--ms),
      0 0 10px 3px var(--ma),
      oklch(var(--s)) -2px -2px 0 2px,
      oklch(var(--a)) 0 0 0 4px,
      rgba(0,0,0,0.5) 0 0 2px 7px;
  }
  100% {
    box-shadow:
      0 0 10px 3px var(--ma),
      0 0 10px 3px var(--ms),
      oklch(var(--a)) -2px -2px 0 2px,
      oklch(var(--s)) 0 0 0 4px,
      rgba(0,0,0,0.5) 0 0 2px 7px;
  }
}

@keyframes iconIdle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.anim-icon {
  animation: iconIdle 10s ease-in-out infinite;
}

.btn-gradient {
  @apply rounded-2xl;
  position: relative;
  box-shadow:
    0 0 10px 3px oklch(var(--s)),
    0 0 10px 3px oklch(var(--a)),
    oklch(var(--s)) -2px -2px 0 2px,
    oklch(var(--a)) 0 0 0 4px,
    rgba(0,0,0,0.5) 0 0 2px 7px;
}

.btn-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
    0 0 10px 3px oklch(var(--a)),
    0 0 10px 3px oklch(var(--s)),
    oklch(var(--a)) -2px -2px 0 2px,
    oklch(var(--s)) 0 0 0 4px,
    rgba(0,0,0,0.5) 0 0 2px 7px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  @apply rounded-2xl;
}

.btn-gradient:hover::after {
  opacity: 1;
}

