@tailwind base;
@tailwind utilities;
@tailwind components;
@import 'ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.icon-large {
  @apply text-5xl;
}

.icon-medium {
  @apply text-3xl;
}

.icon-small {
  @apply text-lg;
}

* {
  box-sizing: border-box;
}

.my-clickable {
  @apply cursor-pointer;
  transition: color 0.3s ease-in-out;

  &:hover, &:active {
    color: oklch(var(--bc) / 0.75);
  }
}

h1 {
  font-weight: 700 !important;
}

h2 {
  font-weight: 500 !important;
}

.extra-bold {
  font-weight: 900 !important;
}

.text-glow {
  -webkit-filter: drop-shadow(0 0 0.5rem oklch(var(--nc)));
  filter: drop-shadow(0 0 0.5rem oklch(var(--nc)));
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
