@tailwind base;
@tailwind utilities;
@tailwind components;
@import 'ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.icon-large {
  @apply text-5xl;
}

.icon-medium {
  @apply text-3xl;
}

.icon-small {
  @apply text-lg;
}

* {
  box-sizing: border-box;
}

.my-clickable {
  @apply cursor-pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover, &:active {
    color: oklch(var(--bc) / 0.75);
  }
}

h1 {
  font-weight: 700 !important;
}

h2 {
  font-weight: 500 !important;
}

.extra-bold {
  font-weight: 900 !important;
}

.text-glow {
  -webkit-filter: drop-shadow(0 0 0.5rem oklch(var(--bc)));
  filter: drop-shadow(0 0 0.5rem oklch(var(--bc)));
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bright-text {
  @apply dark:text-bright-text-light text-bright-text-dark;
}

@layer components {
  .gradient-light {
    background-image: linear-gradient(135deg,
      color-mix(in oklch, oklch(var(--s)) 70%, white) 0%,
      color-mix(in oklch, oklch(var(--a)) 70%, white) 100%);
  }

  .gradient-dark {
    background-image: linear-gradient(135deg,
      color-mix(in oklch, oklch(var(--s)) 70%, black) 0%,
      color-mix(in oklch, oklch(var(--a)) 70%, black) 100%);
  }

  .gradient {
    @apply gradient-light dark:gradient-dark;
  }

  .card-overlay-light {

    opacity: 0.2;
    background: linear-gradient(to top, color-mix(in oklch, oklch(var(--s)) 70%, white) 10%, rgba(1,1,1,0) 100%);
    transition: all 0.5s ease-in-out;
    mix-blend-mode: hard-light;

    &.active {
      opacity: 0.9;
      background: linear-gradient(to top, color-mix(in oklch, oklch(var(--s)) 70%, white) 60%, rgba(1,1,1,0) 100%);
    }
  }

  .card-overlay-dark {
    background: linear-gradient(to top,  color-mix(in oklch, oklch(var(--s)) 70%, black) 10%, rgba(0,0,0,0) 100%);

    &.active {
      background: linear-gradient(to top, color-mix(in oklch, oklch(var(--s)) 70%, black) 60%, rgba(0,0,0,0) 100%);
    }
  }

  .card-overlay {
    @apply card-overlay-light dark:card-overlay-dark;
  }
}

.fade {
  @apply opacity-0 transform translate-y-4;
  transition: opacity 500ms, transform 500ms;

  &.fade-in {
    @apply opacity-100 transform translate-y-0;
  }
}
